In [7]:
import pandas as pd
import json
import re 

xls_file_path = r'/home/matheushmfp/Documentos/ETL/data/relextban.xls'
df = pd.read_excel(xls_file_path)

def transformerBordero(df):
    # Inclua a instrução logger.info para esta função
    #logger.info('Iniciando transformação dos dados...')
    # Defina a data de início e a data atual
    data_inicio = pd.to_datetime('2022-01-01')
    data_atual = pd.to_datetime('now')
    # Crie um intervalo de datas entre a data de início e a data atual
    intervalo_de_datas = pd.date_range(start=data_inicio, end=data_atual, freq='D')
    # Converta o intervalo de datas em uma lista de strings no formato desejado
    novo_cabecalho = [date.strftime('%d/%m/%Y') for date in intervalo_de_datas]
    # Insira o título 'Empresa' como o primeiro elemento da lista
    novo_cabecalho.insert(0, 'Dt. Pgto/Rec.')
    # Mapeamento de nomes das colunas
    cabecalho_antigo = {
        'Extrato da Movimentação Bancária Período de 01/01/2022 até 31/08/2023': 'Dt. Pgto/Rec.',
        'Unnamed: 1': 'excluir',
        'Unnamed: 2': 'excluir',
        'Unnamed: 3': 'excluir',
        'Unnamed: 4': 'central_custo',
        'Unnamed: 5': 'excluir',
        'Unnamed: 6': 'excluir',
        'Unnamed: 7': 'excluir',
        'Unnamed: 8': 'excluir',
        'Unnamed: 9': 'excluir',
        'Unnamed: 10': 'excluir',
        'Unnamed: 11': 'excluir',
        'Unnamed: 12': 'excluir',
        'Unnamed: 13': 'excluir',
        'Unnamed: 14': 'Cliente/Fornecedor',
        'Unnamed: 15': 'excluir',
        'Unnamed: 16': 'excluir',
        'Unnamed: 17': 'excluir',
        'Unnamed: 18': 'excluir',
        'Unnamed: 19': 'excluir',
        'Unnamed: 20': 'excluir',
        'Unnamed: 21': 'excluir',
        'Unnamed: 22': 'excluir',
        'Unnamed: 23': 'excluir',
        'Unnamed: 24': 'excluir',
        'Unnamed: 25': 'excluir',
        'Unnamed: 26': 'excluir',
        'Unnamed: 27': 'excluir',
        'Unnamed: 28': 'excluir',
        'Unnamed: 29': 'excluir',
        'Unnamed: 30': 'excluir',
        'Unnamed: 31': 'excluir',
        'Unnamed: 32': 'valor',
        'Unnamed: 33': 'excluir',
        'Unnamed: 34': 'excluir',
        'Unnamed: 35': 'excluir',
        'Unnamed: 36': 'excluir',
        'Unnamed: 37': 'excluir',
        'Unnamed: 38': 'excluir',
        'Unnamed: 39': 'excluir',
        'Unnamed: 40': 'excluir',
        'Unnamed: 41': 'excluir',
        
    }
    # Substitua o cabeçalho anterior pelo novo cabeçalho
    cabecalho_antigo.update({k: v for k, v in zip(cabecalho_antigo.keys(), novo_cabecalho)})
    # Renomeie as colunas
    df.rename(columns=novo_cabecalho, inplace=True)
    # Exclua as colunas não necessárias
    df.drop(columns='excluir', inplace=True)
    return df

transformerBordero(df)

TypeError: 'list' object is not callable

In [3]:
df.to_excel(r'teste.xlsx')

In [8]:
import webbrowser
import requests
import msal
from msal import PublicClientApplication

APP_ID = '98c243aa-b69f-42f8-9f28-9e1557a9fdf5'
CLIENT_SECRET = 'yq88Q~oWY15f6CrohyKQt752zFOxT9zhc3UZwcK8'
authority_url = 'https://login.microsoftonline.com/consumers/'
base_url = 'https://graph.microsoft.com/v1.0/'
SCOPES = ['Files.ReadWrite.All']

client_instance = msal.ConfidentialClientApplication(
    client_id=APP_ID,
    client_credential=CLIENT_SECRET,
    authority=authority_url
)

authorization_requests_url = client_instance.get_authorization_request_url(SCOPES)

print(authorization_requests_url)
webbrowser.open(authorization_requests_url, new=True)

https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize?client_id=98c243aa-b69f-42f8-9f28-9e1557a9fdf5&response_type=code&scope=Files.ReadWrite.All+offline_access+openid+profile

True

In [11]:
import webbrowser
import requests
import msal
import os
from msal import PublicClientApplication

authorization_code = 'M.C107_BAY.2.cc8e7188-9ca5-8f13-0491-c6663dee8ee3'

access_token = client_instance.acquire_token_by_authorization_code(
    code=authorization_code,
    scopes=SCOPES
)

print(access_token)

access_token_id = access_token['access_token']
headers = {'Authorization' : 'Bearer' + access_token}

file_path = '/home/matheushmfp/Documentos/ETL/resultado.xlsx'
file_name = os.path.basename(file_path)

with open(file_path, 'rb') as upload:
    data_content = upload.read()
    
onedrive_folder_id = 'EBC9F34D79AE089C%2142933'

end_point = base_url + 'me'
response = requests.put(
    GRAPH_API_ENDPOINT + f'me/drive/items/{onedrive_folder_id}:/{file_name}:/content',
    headers = headers,
    data = data_content
)

print(response.json())

{'error': 'invalid_grant', 'error_description': "AADSTS70000: The provided value for the 'code' parameter is not valid. The code has expired.\r\nTrace ID: 6af16f48-27fc-4514-94d8-b7e346311401\r\nCorrelation ID: fe8045f7-3266-4e8b-92bb-236854292213\r\nTimestamp: 2023-09-19 17:05:14Z", 'error_codes': [70000], 'timestamp': '2023-09-19 17:05:14Z', 'trace_id': '6af16f48-27fc-4514-94d8-b7e346311401', 'correlation_id': 'fe8045f7-3266-4e8b-92bb-236854292213', 'error_uri': 'https://login.microsoftonline.com/error?code=70000'}

KeyError: 'access_token'

In [1]:
# requirements
import requests
import json
import urllib
import os
from getpass import getpass
import time
from datetime import datetime

In [5]:
URL = 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize'
client_id = "aa4936ea-78a4-463e-a653-84af146816a3"
permissions = ['files.readwrite']
response_type = 'token'
redirect_uri = 'http://localhost:8080/'
scope = ''
for items in range(len(permissions)):
    scope = scope + permissions[items]
    if items < len(permissions)-1:
        scope = scope + '+'

print('Click over this link ' +URL + '?client_id=' + client_id + '&scope=' + scope + '&response_type=' + response_type+\
     '&redirect_uri=' + urllib.parse.quote(redirect_uri))
print('Sign in to your account, copy the whole redirected URL.')
code = input("Paste the URL here :")
token = code[(code.find('access_token') + len('access_token') + 1) : (code.find('&token_type'))]
URL = 'https://graph.microsoft.com/v1.0/'
HEADERS = {'Authorization': 'Bearer ' + token}
response = requests.get(URL + 'me/drive/', headers = HEADERS)
if (response.status_code == 200):
    response = json.loads(response.text)
    print('Connected to the OneDrive of', response['owner']['user']['displayName']+' (',response['driveType']+' ).', \
         '\nConnection valid for one hour. Reauthenticate if required.')
elif (response.status_code == 401):
    response = json.loads(response.text)
    print('API Error! : ', response['error']['code'],\
         '\nSee response for more details.')
else:
    response = json.loads(response.text)
    print('Unknown error! See response for more details.')

Click over this link https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=aa4936ea-78a4-463e-a653-84af146816a3&scope=files.readwrite&response_type=token&redirect_uri=http%3A//localhost%3A8080/
Sign in to your account, copy the whole redirected URL.
API Error! :  InvalidAuthenticationToken
See response for more details.

In [44]:
import os
import subprocess
from datetime import datetime, timedelta
import pandas as pd
import json
import re 
import numpy as np
from time import sleep

In [56]:
class DataExtractor:
    def __init__(self, data_folder="data"):
        self.data_folder = data_folder
        self.selected_file = None  # Adicione uma variável para armazenar o nome do arquivo selecionado

    def get_files(self, extensions=(".xls", ".xlsx", ".csv", ".txt")):
        # Verifica se a pasta especificada existe no diretório do projeto
        if not os.path.exists(self.data_folder):
            raise FileNotFoundError(f"A pasta '{self.data_folder}' não existe no diretório do projeto.")
        # Lista todos os arquivos na pasta especificada
        files = os.listdir(self.data_folder)
        # Filtrar os arquivos com as extensões especificadas
        filtered_files = [file for file in files if file.endswith(extensions)]
        if not filtered_files:
            raise FileNotFoundError(f"Nenhum arquivo com extensões {', '.join(extensions)} encontrado na pasta '{self.data_folder}'.")
        return filtered_files

    def select_file(self, file_name):
        # Verifica se o arquivo selecionado existe na pasta especificada
        available_files = self.get_files()
        if file_name not in available_files:
            raise FileNotFoundError(f"O arquivo '{file_name}' não foi encontrado na pasta '{self.data_folder}'.")
        self.selected_file = file_name  # Armazena o nome do arquivo selecionado

    def extract_data(self, column_widths=None, column_names=None):
        if self.selected_file is None:
            raise ValueError("Nenhum arquivo foi selecionado.")
        
        file_extension = os.path.splitext(self.selected_file)[-1].lower()
        file_path = os.path.join(self.data_folder, self.selected_file)

        if file_extension == ".txt":
            # Leitura do arquivo .txt usando pandas com codificação ISO-8859-1
            try:
                if column_widths is None or column_names is None:
                    raise ValueError("Tanto column_widths quanto column_names devem ser fornecidos.")
                
                # Leia o arquivo usando read_fwf com tamanhos e nomes de colunas personalizados
                df = pd.read_fwf(file_path, widths=column_widths, header=None, names=column_names, encoding='iso-8859-1')
                
                # Remova espaços em branco nas colunas
                df = df.apply(lambda x: x.str.strip())
                
                # Definir a primeira linha como cabeçalho
                df.columns = df.iloc[0]
                
                # Remover a primeira linha (que agora é o cabeçalho)
                df = df[1:]
                
                return df
            except Exception as e:
                raise Exception(f"Erro ao ler o arquivo {file_path}: {str(e)}")
        elif file_extension in (".xls", ".xlsx", ".csv"):
            # Adicione aqui o código para lidar com outros tipos de arquivo, se necessário
            try:
                df = pd.read_excel(file_path)
                return df
            except Exception as e:
                raise Exception(f"Erro ao ler o arquivo {file_path}: {str(e)}")
        else:
            raise ValueError(f"Tipo de arquivo não suportado: {file_extension}")

In [57]:
# -------------- VENDAS --------------
class DataTransformerVendas:
    def __init__(self):
        self.data_extractor = DataExtractor()  # Crie uma instância da classe DataExtractor
        
    def ClassDre(self, df):
        # Carregar o JSON com as informações para adicionar colunas
        json_file_path = 'config\\classificacao_dre.json'
        with open(json_file_path, 'r') as json_file:
            data = json.load(json_file)
        # Adicionar as colunas ao DataFrame
        for cod_contafin, info in data.items():
            for col_name, col_value in info.items():
                df.loc[df['cod_contafin'] == cod_contafin, col_name] = col_value
        return df
        
    def GetData(self, data_transformer, file_name, column_widths, column_names):
        # Inclua a instrução logger.info para esta função
        #logger.info(f'Selecionando o arquivo Excel: {file_name}')
        # Selecione o arquivo Excel que deseja transformar em DataFrame
        data_transformer.data_extractor.select_file(file_name)
        # Inclua uma instrução de log para indicar a extração dos dados
        #logger.info('Extraindo os dados do arquivo selecionado...')
        # Extraia os dados do arquivo selecionado
        df = data_transformer.data_extractor.extract_data(column_widths, column_names)

        # Inclua uma instrução de log para indicar o término da transformação
        #logger.info('Dados extraídos com sucesso.')
        return df

In [68]:
def ClienteVendas(file, column_names):
    # Inclua a instrução logger.info para esta função
    #logger.info(f'Iniciado Vendas')
    # Crie uma instância da classe DataTransformer_DRE
    data_transformer = DataTransformerVendas()
    column_widths = [100] * len(column_names)
    sleep(10)
    # Inicia a transformação de dados
    df = data_transformer.GetData(data_transformer, f'{file}', column_widths, column_names)
    return df

def PedidosVendas(file, column_names):
    # Inclua a instrução logger.info para esta função
    #logger.info(f'Iniciado Vendas')
    # Crie uma instância da classe DataTransformer_DRE
    data_transformer = DataTransformerVendas()
    column_widths = [100] * len(column_names)
    sleep(10)
    # Inicia a transformação de dados
    df = data_transformer.GetData(data_transformer, f'{file}', column_widths, column_names)
    return df

def LtvVendas(file, column_names):
    # Inclua a instrução logger.info para esta função
    #logger.info(f'Iniciado Vendas')
    # Crie uma instância da classe DataTransformer_DRE
    data_transformer = DataTransformerVendas()
    column_widths = [100] * len(column_names)
    sleep(10)
    # Inicia a transformação de dados
    df = data_transformer.GetData(data_transformer, f'{file}', column_widths, column_names)
    return df

clientes = ClienteVendas(
    'clientes.txt',
    column_names=[
        "ufcli",
        "cidadecli",
        "razsoccli",
        "id_clientes"
        ]
    )

pedido = PedidosVendas(
    'pedidos.txt',
    column_names=[
        'pedidoped',         
        'dataped',
        'totalped',                                                                                             
        'tpnotaped_id',
        'codcliped_id',
        'codrepped_id',
        'empresaped' 
    ]
)

ltv = LtvVendas(
    'ltv.txt',
    column_names=[
        'endereco',
        'numero',   
        'ddd',      
        'celular',                                
        'telefone',             
        'email',
        'cadastro',
        'tempo_casa_anos',
        'classificacao',
        'tempo_ult_ped_meses',
        'situacao',
        'media_dias_cliente',
        'ultima_data_pedido',
        'ltv',
        'qntd_pedido'           
    ]
)

In [69]:
clientes.head(50)

0  id_clientes ufcli       cidadecli                               razsoccli
1         2246   NaN             NaN             RONI MARCOS SANTOS DE SOUZA
2          228   NaN             NaN                             PRI. ALARME
3         2243   NaN             NaN                                 SIDINEI
4          364   NaN             NaN                        JUVENIL DA CUNHA
5         2279   NaN             NaN                   BV FINANCEIRA(BRANCO)
6         2250   NaN             NaN                 MERCADO TONINHO VOLPATO
7          839   NaN             NaN                  BERTILO SHULTER ROLING
8          728   NaN             NaN                           MARINO ROLING
9         1778    SC  BRAÇO DO NORTE                          POSTO COLUMBIA
10        2326    SC  BRAÇO DO NORTE                 FRIGORÍFICO PRIMAL LTDA
11         309    RS    PORTO ALEGRE              ORDENHADEIRAS SULINOX LTDA
12         143    SC     RIO FORTUNA                              IVO RICKEN
13        2408   NaN             NaN                         BERNARDO MEURER
14         305    SC  BRAÇO DO NORTE                            ILSON TENFEN
15         180    SC  BRAÇO DO NORTE                         VILSON CORDIOLI
16         287    SC  BRAÇO DO NORTE  PREFEITURA MUNICIPAL DE BRACO DO NORTE
17         357    SC  BRAÇO DO NORTE              REFRIGERAÇÃO EM MANUTENÇÃO
18         426    SC       GRÃO PARÁ                            ALMIR ASCARI
19         291    SC  BRAÇO DO NORTE                           NERI DA SILVA
20         838   NaN             NaN                         HELIO WARMILING
21         859    SC         URUBICI                     FLAVIO VALTER MEYER
22         980    SC     RIO FORTUNA                  JULIO CESAR DIRCKSEN .
23         504    SC  BRAÇO DO NORTE                           DAURI VICENTE
24        1666    SC         URUBICI        SERRA FRUTAS COM. DE FRUTAS LTDA
25        2260   NaN             NaN                       MERCEARIA VITORIA
26        2259   NaN             NaN                    AGROPECARIA ALBERTON
27        2325   NaN             NaN                                    ILDA
28        2327   NaN             NaN              ENEDINO APRIGIO DOS SANTOS
29        2311    SC  BRAÇO DO NORTE                     SUPERMERCADO ZABOTT
30        2364   NaN             NaN                         VALMOR FICHITER
31        2367    SC  BRAÇO DO NORTE                             HILTON LOCK
32         793    RS   CAXIAS DO SUL                   RENATO ALBERTO CASALI
33        2391    SC  BRAÇO DO NORTE                          BENÍCIO MEURER
34        2425   NaN             NaN                          MERCADO D´BONA
35        1041    SC     RIO FORTUNA                         ARLINDO BALMANN
36        2287    SC       GRÃO PARÁ                            JOAO BLASIUS
37        2353   NaN             NaN                             MATEUS FOSS
38        2579    SC  BRAÇO DO NORTE                SANDRO PERON EXTERKOTTER
39        2298   NaN             NaN                           HOTEL AVENIDA
40        2308    SC  BRAÇO DO NORTE                         ORLANDO MICHELS
41        2315   NaN             NaN                          JAIR HEFITTING
42        2322   NaN             NaN                      ALEXANDRO DA SILVA
43        2331   NaN             NaN                           HELIO SCHMITZ
44         173   NaN             NaN                     MERCADO BANDEIRANTE
45        2354   NaN             NaN    PAFLE INDUSTRIA DE PLASTICOS LTDA ME
46        3281    PR       APUCARANA                 FERNANDES E IDALGO LTDA
47        3084    SC       JAGUARUNA                     C.H.M. AVICOLA LTDA
48         987    SC  MORRO DA PALHA                MOISES RUZONSKI SELINGER
49        2355   NaN         PALHOCA                         EVILASIO KRUGER
50        1068    SC  BRAÇO DO NORTE                       SALESIO HEIDEMANN

In [70]:
ltv.head(50)

,endereco,numero,ddd,celular,telefone,email,cadastro,tempo_casa_anos,classificacao,tempo_ult_ped_meses,situacao,media_dias_cliente,ultima_data_pedido,ltv,qntd_pedido
1,AVENIDA DOMINGOS DA SILVA CANDEMIL,950,NaN,NaN,NaN,X,2020-01-07 00:00:00,3,Normal,45,Inativo,0,2020-01-07 00:00:00,Churn,1
2,RUA ORLANDINA AMALIA PIRES CORREA,455,11,NaN,99932-0269,renato_ccorreia@hotmail.com,2018-04-03 00:00:00,5,Veterano,44,Inativo,0,2020-01-14 00:00:00,Churn,1
3,RODOVIA SC 442,2570,48,NaN,99985-9370,nfe@nfe,2020-01-14 00:00:00,3,Normal,44,Inativo,0,2020-01-14 00:00:00,Churn,1
4,.,NaN,NaN,NaN,NaN,M,2009-08-31 00:00:00,14,Veterano,44,Inativo,0,2020-01-20 00:00:00,Churn,1
5,RUA JOSE CARDOSO,501,48,NaN,99831-1684,andersonp@contato.net,2019-11-06 00:00:00,3,Normal,44,Inativo,0,2020-01-28 00:00:00,Churn,1
6,RUA NILTON OLEGARIO SCHMITZ,1383,48,NaN,3272 1129,X,2020-02-04 00:00:00,3,Normal,44,Inativo,0,2020-02-04 00:00:00,Churn,1
7,RUA LEONEL PEREIRA,1165,NaN,NaN,NaN,padariauniao@gmail.com,2020-02-06 00:00:00,3,Normal,44,Inativo,0,2020-02-06 00:00:00,Churn,1
8,RUA EUGENIO PEZZINI,540,47,47 9 9605 4030,9 9985 6051,carioquinhapescados@uol.com.br,2020-02-10 00:00:00,3,Normal,44,Inativo,0,2020-02-10 00:00:00,Churn,1
9,RODOVIA ANTONIO HEILL,2205,47,NaN,3531-3181,contasapagar@pamplona.com.br,2020-02-14 00:00:00,3,Normal,43,Inativo,0,2020-02-14 00:00:00,Churn,1
10,ROD BRN 424 BAIXO PINHEIRAL,S/N,48,NaN,99689-7163,X,2020-02-11 00:00:00,3,Normal,43,Inativo,0,2020-02-27 00:00:00,Churn,1
11,RUA FREDERICO VOGHT,1510,47,NaN,3644 3182,lucianomurara@gmail.com - gerenciador@alimento...,2009-09-25 00:00:00,14,Veterano,42,Inativo,0,2020-03-27 00:00:00,Churn,1
12,ESTRADA GERAL CANTO DA LAGOA,S/N,48,NaN,9996-9216,nfe@nfe,2012-05-21 00:00:00,11,Veterano,42,Inativo,0,2020-03-27 00:00:00,Churn,1
13,ROD MS134 TRECHO NOVA ANDRADINA / BATAIPORA,661,47,NaN,3458-1048,s_sschmitt@hotmail.com,2020-04-23 00:00:00,3,Normal,41,Inativo,0,2020-04-15 00:00:00,Churn,1
14,ESTRADA ZONA RURAL,S/N,41,NaN,9 9651 1825,X,2015-12-09 00:00:00,7,Veterano,41,Inativo,0,2020-04-27 00:00:00,Churn,1
15,RUA FRANCISCO DE OLIVEIRA,00,NaN,NaN,NaN,X,2014-10-01 00:00:00,9,Veterano,41,Inativo,0,2020-05-06 00:00:00,Churn,1
16,RUA DOUTOR AVELINO CHAVES,186,47,NaN,99239-7055,renato_ccorreia@hotmail.com,2020-03-16 00:00:00,3,Normal,40,Inativo,0,2020-05-13 00:00:00,Churn,1
17,ESTRADA GERAL ALTO RIO MOLHA,S/N,48,NaN,9 9624 0150,bruder@bruderalimentos.com.br,2020-06-05 00:00:00,3,Normal,40,Inativo,0,2020-05-13 00:00:00,Churn,1
18,RODOVIA SC 108,1700,48,NaN,3256-0363,laticinios.silva@hotmail.com,2015-08-21 00:00:00,8,Veterano,40,Inativo,0,2020-05-19 00:00:00,Churn,1
19,AVENIDA SANTOS DUMONT,300,47,NaN,3349-6808,adm.navegantes@hortifrutidiretodocampo.com.br,2021-02-03 00:00:00,2,Normal,40,Inativo,0,2020-05-19 00:00:00,Churn,1
20,RUA GERMANO NIEHUES,264,48,NaN,3657-1464,X,2017-09-29 00:00:00,6,Veterano,40,Inativo,0,2020-06-01 00:00:00,Churn,1
21,RODOVIA SC 486,S/N,47,NaN,3359 1219,comercial@fiacaobotuvera.com.br,2020-06-05 00:00:00,3,Normal,40,Inativo,0,2020-06-05 00:00:00,Churn,1
22,RUA CHRISTINA REBELLO PRIESS,43,47,47 9 8861 0480,3348-5753,x,2018-08-13 00:00:00,5,Veterano,40,Inativo,0,2020-06-08 00:00:00,Churn,1
23,ESTRADA GERAL RIO PINHEIROS DE BAIXO,S/N,48,99916-7620,3657-1148,jaison@plascobril.com.br,2020-06-25 00:00:00,3,Normal,40,Inativo,0,2020-06-08 00:00:00,Churn,1
24,AVENIDA ANTONIO JOAQUIM TAVARES,1536,47,NaN,3345-0066,monique@poseidonbr.com,2020-06-09 00:00:00,3,Normal,40,Inativo,0,2020-06-09 00:00:00,Churn,1
25,RUA AZAMBUJA,115,47,NaN,98865-4707,X,2020-06-19 00:00:00,3,Normal,40,Inativo,0,2020-06-09 00:00:00,Churn,1
26,RODOVIA SC 108,3535,48,NaN,3658 2596,caldao@caldao.com.br,2020-06-12 00:00:00,3,Normal,39,Inativo,0,2020-06-12 00:00:00,Churn,1
27,RUA AUGUSTO SEVERO,399,48,9107 3002,3626 0918,marielle@vidroform.com.br,2010-11-17 00:00:00,12,Veterano,39,Inativo,0,2020-06-17 00:00:00,Churn,1
28,RUA JOAO BENTO NAZARIO,103,48,(48) 98463-4106,3442-1033,gelotigreadm@gmail.com,2020-06-18 00:00:00,3,Normal,39,Inativo,0,2020-06-18 00:00:00,Churn,1
29,RUA SASSAFRAS,665,NaN,NaN,NaN,alexen__cqsp@hotmail.com,2020-06-19 00:00:00,3,Normal,39,Inativo,0,2020-06-22 00:00:00,Churn,1
30,RUA MARCILIO DIAS,3131,53,NaN,98129-1687,PAULO.GOZ@TERRA.COM.BR,2020-06-10 00:00:00,3,Normal,39,Inativo,0,2020-06-29 00:00:00,Churn,1
31,RUA LUIZ LEAL,1609,47,(47) 9979-3962,3343-0131,valdecirreinertmatadouro@hotmail.com,2010-09-22 00:00:00,13,Veterano,39,Inativo,0,2020-07-01 00:00:00,Churn,1
32,RUA ANICETO ZACCHI,00222,48,NaN,3242-1133,manutencao@superimperatriz.com.br,2016-08-02 00:00:00,7,Veterano,39,Inativo,0,2020-07-01 00:00:00,Churn,1
33,RODOVIA SC 355,S/N,49,16 3383 1178,3256-2399,grupofischer@grupofischer.com.br,2020-07-01 00:00:00,3,Normal,39,Inativo,0,2020-07-01 00:00:00,Churn,1
34,AVENIDA PORTUARIA VICENTE COELHO,01,47,NaN,2104-3300,nfe.entrada@portonave.com.br,2020-07-03 00:00:00,3,Normal,39,Inativo,0,2020-07-06 00:00:00,Churn,1
35,RUA AMARILDO JOSE DA ROSA,600,48,NaN,99673-2511,gmoraeslaurentino@gmail.com,2020-07-08 00:00:00,3,Normal,39,Inativo,0,2020-07-09 00:00:00,Churn,1
36,RUA FLORIANOPOLIS,1540,47,NaN,99118-0458,X,2020-07-13 00:00:00,3,Normal,38,Inativo,0,2020-07-13 00:00:00,Churn,1
37,RUA EUCLIDES FRANCISCO PEIXOTO,689,48,NaN,3641-2626,compras@komdelli.com.br,2020-07-16 00:00:00,3,Normal,38,Inativo,0,2020-07-16 00:00:00,Churn,1
38,AVENIDA NEREU RAMOS,5152,47,NaN,3268 0314,adaovoltolini@hotmail.com,2020-07-28 00:00:00,3,Normal,38,Inativo,0,2020-07-20 00:00:00,Churn,1
39,FRANCISCA RODRIGUES,429,48,NaN,99962-8045,eletrosa.gravatal@gmail.com,2020-08-04 00:00:00,3,Normal,38,Inativo,0,2020-07-20 00:00:00,Churn,1
40,RUA NEUZA MARIA PICKLER,70,48,NaN,99630-0929,VALNEIMOTA86@GMAIL.COM,2020-07-23 00:00:00,3,Normal,38,Inativo,0,2020-07-24 00:00:00,Churn,1
41,RUA COLORADO,105,54,NaN,3331-1374,X,2020-07-27 00:00:00,3,Normal,38,Inativo,0,2020-07-27 00:00:00,Churn,1
42,ESTRADA GERAL PINHEIRAL,S/N,48,NaN,99966-0911,enaigier@hotmail.com,2020-07-28 00:00:00,3,Normal,38,Inativo,0,2020-07-28 00:00:00,Churn,1
43,RUA IZABEL MENDES SOARES,354,48,9 8827 1718,3263 0205,pescadostijucas@hotmail.com,2020-07-29 00:00:00,3,Normal,38,Inativo,0,2020-07-30 00:00:00,Churn,1
44,RUA OSVALDIR A LOPES,198,47,NaN,99259-8874,X,2020-07-31 00:00:00,3,Normal,38,Inativo,0,2020-07-31 00:00:00,Churn,1
45,ESTRADA MUNICIPAL SANTA LIDIA,5180,NaN,NaN,NaN,eletroservv@outlook.com,2020-08-11 00:00:00,3,Normal,38,Inativo,0,2020-08-07 00:00:00,Churn,1
46,RUA FERNANDO PEDRO CORREA,001,48,NaN,3632-2321,contato@neguinhoserralheria.com.br,2020-08-11 00:00:00,3,Normal,37,Inativo,0,2020-08-12 00:00:00,Churn,1
47,RUA PAULA SOARES,301,47,NaN,3337 1373,contato@friosblu.com.br,2020-08-14 00:00:00,3,Normal,37,Inativo,0,2020-08-14 00:00:00,Churn,1
48,ESTRADA GERAL VOLTA GRANDE,6375,47,78118760,NaN,empresarialpirata@outlook.com.br,2013-10-11 00:00:00,9,Veterano,37,Inativo,0,2020-08-17 00:00:00,Churn,1
49,RUA JOAO CONTINI,1471,49,NaN,3566-0596,ubirajara_cardoso@yahoo.com.br,2018-02-26 00:00:00,5,Veterano,37,Inativo,0,2020-08-25 00:00:00,Churn,1
50,AV. CANTORIO FIORENTINO SILVA,1327,48,NaN,3264-0618,mercadobetonfe@gmail.com,2020-08-10 00:00:00,3,Normal,37,Inativo,0,2020-08-25 00:00:00,Churn,1

In [71]:
pedido.head(50)

,pedidoped,dataped,totalped,tpnotaped_id,codcliped_id,codrepped_id,empresaped
1,2,2012-01-03 00:00:00,10000,37,1992,23,002
2,1,2008-10-27 00:00:00,19685.4,55,2221,23,002
3,24969,2008-08-20 00:00:00,0,NaN,NaN,NaN,E01
4,29969,2008-08-20 00:00:00,17.46,NaN,NaN,NaN,E01
5,42,2020-01-07 00:00:00,3338.1,120,3326,45,002
6,14,2019-11-11 00:00:00,20000,55,1992,24,002
7,38,2020-01-06 00:00:00,1982,55,67,40,002
8,45,2020-01-07 00:00:00,3518.65,55,3694,45,002
9,39,2020-01-06 00:00:00,3761.16,55,3691,40,002
10,20,2019-11-14 00:00:00,0,55,3430,23,002
11,24,2019-11-22 00:00:00,44000,55,3430,23,002
12,25,2019-11-25 00:00:00,38100,55,3430,24,002
13,28,2019-12-09 00:00:00,50000,55,2479,24,002
14,30,2019-12-13 00:00:00,48325.88,55,3691,40,002
15,32,2019-12-16 00:00:00,11580,55,3531,32,002
16,49,2020-01-08 00:00:00,3099.45,55,3691,40,002
17,50,2020-01-08 00:00:00,1077.9,55,2972,45,002
18,73,2020-01-14 00:00:00,1300,55,3434,40,002
19,52,2020-01-09 00:00:00,2337.5,55,2864,45,002
20,53,2020-01-09 00:00:00,1050,55,2794,45,002
21,67,2020-01-13 00:00:00,455.7,55,2685,45,002
22,78,2020-01-16 00:00:00,283.01,120,2972,36,002
23,34,2019-12-23 00:00:00,71385.38,55,3693,24,002
24,65,2020-01-13 00:00:00,574.86,55,2864,45,002
25,87,2020-01-21 00:00:00,22000,120,3638,40,002
26,77,2020-01-15 00:00:00,1,55,3252,32,002
27,89,2020-01-21 00:00:00,448.61,55,2864,45,002
28,64,2020-01-13 00:00:00,8306.68,120,3326,45,002
29,93,2020-01-21 00:00:00,409.34,120,2547,45,002
30,80,2020-01-20 00:00:00,840,120,2093,45,002
31,90,2020-01-21 00:00:00,12609.2,55,2794,45,002
32,94,2020-01-21 00:00:00,998.75,120,3074,45,002
33,219,2020-02-21 00:00:00,192.6,120,2185,45,002
34,95,2020-01-22 00:00:00,21921.75,55,3310,36,002
35,115,2020-01-28 00:00:00,418.12,55,3681,45,002
36,96,2020-01-22 00:00:00,86.38,120,2547,45,002
37,119,2020-01-28 00:00:00,7125.94,120,3657,45,002
38,104,2020-01-23 00:00:00,4500,55,3430,32,002
39,105,2020-01-24 00:00:00,0,55,NaN,NaN,002
40,116,2020-01-28 00:00:00,5919.05,120,3684,40,002
41,110,2020-01-27 00:00:00,19973.41,120,2078,32,002
42,106,2020-01-24 00:00:00,21000,55,2001,32,002
43,108,2020-01-24 00:00:00,15000,120,2245,36,002
44,107,2020-01-24 00:00:00,813.75,55,2357,45,002
45,117,2020-01-28 00:00:00,45000,120,3701,40,002
46,113,2020-01-27 00:00:00,634.78,55,2864,45,002
47,111,2020-01-27 00:00:00,218.06,120,3074,45,002
48,146,2020-02-03 00:00:00,479367.4,10,3703,40,002
49,149,2020-02-04 00:00:00,24850,120,3633,32,002
50,148,2020-02-04 00:00:00,6350,120,3632,45,002

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'data\emissaomacro.xls')

In [21]:
df.head(6)

,Balancete Financeiro Emissão/Vencimento,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,MACROFRIO EQUIPAMENTOS E ISOLAMENTOS PARA REFR...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Usuário: MATHEUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Quebra: Conta Financeira Emissão de 01/01/2022...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conta Financeira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diferença,NaN,NaN
3,NaN,NaN,Centro de Custo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Número,NaN,NaN,Sér.,NaN,NaN,NaN,Cliente/Fornecedor,NaN,...,Emissão,NaN,NaN,NaN,Entrada,NaN,NaN,NaN,NaN,Vencto

In [3]:
        novo_cabecalho = {
            'Balancete Financeiro Emissão/Vencimento': 'contafin',
            'Unnamed: 1': 'Duplicata',
            'Unnamed: 2': 'central_custo',
            'Unnamed: 3': 'excluir',
            'Unnamed: 4': 'Ser',
            'Unnamed: 5': 'excluir',
            'Unnamed: 6': 'excluir',
            'Unnamed: 7': 'excluir',
            'Unnamed: 8': 'Cliente/Fornecedor',
            'Unnamed: 9': 'excluir',
            'Unnamed: 10': 'excluir',
            'Unnamed: 11': 'excluir',
            'Unnamed: 12': 'valor',
            'Unnamed: 13': 'excluir',
            'Unnamed: 14': 'excluir',
            'Unnamed: 15': 'excluir',
            'Unnamed: 16': 'Dt. emissao',
            'Unnamed: 17': 'excluir',
            'Unnamed: 18': 'excluir',
            'Unnamed: 19': 'excluir',
            'Unnamed: 20': 'excluir',
            'Unnamed: 21': 'excluir',
            'Unnamed: 22': 'excluir',
            'Unnamed: 23': 'excluir',
            'Unnamed: 24': 'excluir',
            'Unnamed: 25': 'Dt. vencimento'
        }
        # Renomeie as colunas
        df.rename(columns=novo_cabecalho, inplace=True)
        # Exclua as colunas não necessárias
        df.drop(columns='excluir', inplace=True)
        def excluir_linhas(dataframe, criterios_para_excluir):
            """
            Generates a function comment for the given function body in a markdown code block with the correct language syntax.

            Parameters:
                dataframe (DataFrame): The input dataframe.
                criterios_para_excluir (dict): A dictionary containing the criteria for excluding rows.

            Returns:
                DataFrame: The modified dataframe after excluding rows based on the given criteria.
            """
            condição = True

            for coluna, valores in criterios_para_excluir.items():
                condição &= dataframe[coluna].isin(valores)

            dataframe = dataframe[~condição]
            
            return dataframe
        criterios_a_excluir = {'Duplicata': ['PII292401', '2139825','827905766'],
                      'Ser': ['EMP'],
                      'Cliente/Fornecedor': ['2742-EMPRESTIMO SOFISA CONTRATO Nº PII292401',
                       '2738-EMPRESTIMO SAFRA CONTRATO Nº 2139825',
                       '2354-BB CAPITAL DE GIRO DIGITAL Nº 827905766']}
        df = excluir_linhas(df, criterios_a_excluir)

In [5]:
df.head(30)

,contafin,Duplicata,central_custo,Ser,Cliente/Fornecedor,valor,Dt. emissao,Dt. vencimento
0,MACROFRIO EQUIPAMENTOS E ISOLAMENTOS PARA REFR...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Quebra: Conta Financeira Emissão de 01/01/2022...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Conta Financeira,NaN,NaN,NaN,NaN,Valor,NaN,NaN
3,NaN,NaN,Centro de Custo,NaN,NaN,Valor,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Número,NaN,Sér.,Cliente/Fornecedor,Valor,Emissão,Vencto
6,T 0 ** Conta Financeira não cadastrad...,NaN,NaN,NaN,NaN,"-7.020,85",NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,0 - ** Centro de custo não cadastrado **,NaN,NaN,"-1.218,34",NaN,NaN
9,NaN,01/2022,NaN,SAL,1773-JN GARY THERANE,"0,00",31/01/22,06/02/22
10,NaN,01/2022,NaN,SAL,1775-RUAN FORNAZZA,"0,00",31/01/22,06/02/22
11,NaN,04/2022,NaN,SAL,1065-ALEXANDRE MARTINS KAHL,"0,00",30/04/22,06/05/22
12,NaN,11/2022,NaN,SAL,1806-ADRIANO TELES DE MACEDO,"-516,00",30/11/22,06/12/22
13,NaN,M1608,NaN,O,842-LEANDRO DACOREGIO WEBER,"2.204,66",16/08/23,16/08/23
14,NaN,10/2023,NaN,SAL,1818-JOSE DOS PASSOS TORRES CARDOZO,"-1.184,00",31/10/23,07/11/23
15,NaN,10/2023,NaN,SAL,2828-ALEXSANDRO FERNANDES AGUIAR,"-1.723,00",31/10/23,07/11/23
16,NaN,01/2022,NaN,SAL,1773-JN GARY THERANE,"0,00",31/01/22,06/02/22
17,NaN,01/2022,NaN,SAL,1775-RUAN FORNAZZA,"0,00",31/01/22,06/02/22
18,NaN,04/2022,NaN,SAL,1065-ALEXANDRE MARTINS KAHL,"0,00",30/04/22,06/05/22
19,NaN,11/2022,NaN,SAL,1806-ADRIANO TELES DE MACEDO,"-516,00",30/11/22,06/12/22
20,NaN,M1608,NaN,O,842-LEANDRO DACOREGIO WEBER,"2.204,66",16/08/23,16/08/23
21,NaN,10/2023,NaN,SAL,1818-JOSE DOS PASSOS TORRES CARDOZO,"-1.184,00",31/10/23,07/11/23
22,NaN,10/2023,NaN,SAL,2828-ALEXSANDRO FERNANDES AGUIAR,"-1.723,00",31/10/23,07/11/23
23,NaN,NaN,11 - Administrativo,NaN,NaN,"-1.598,56",NaN,NaN
24,NaN,68694,NaN,1,2285-COOPERATIVA DE CREDITO UNICRED CENTRO SUL...,"-41,35",01/11/22,01/11/22
25,NaN,70504,NaN,1,2285-COOPERATIVA DE CREDITO UNICRED CENTRO SUL...,"-1.557,21",09/12/22,09/12/22
26,1 A 1 Sem Conta Financeira ...............,NaN,NaN,NaN,NaN,"-725,04",NaN,NaN
27,NaN,NaN,0 - ** Centro de custo não cadastrado **,NaN,NaN,"-725,04",NaN,NaN
28,NaN,6796/1,NaN,2,1213-A. ANGELONI & CIA. LTDA,"-463,14",24/08/23,24/08/23
29,NaN,6797/1,NaN,2,"2550-A, ANGELONI E CIA LTDA","-261,90",24/08/23,24/08/23